In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","root","TEST" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()

print "Database version : %s " % data

# disconnect from server
db.close()

### Creating Database Table

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","root","TEST" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

# disconnect from server
db.close()

### INSERT Operation

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","root","TEST" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = "INSERT INTO EMPLOYEE(FIRST_NAME, \
       LAST_NAME, AGE, SEX, INCOME) \
       VALUES ('%s', '%s', '%d', '%c', '%d' )" % \
       ('Mac', 'Mohan', 20, 'M', 2000)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

## READ Operation
READ Operation on any database means to fetch some useful information from the database.

Once our database connection is established, you are ready to make a query into this database. You can use either fetchone() method to fetch single record or fetchall() method to fetech multiple values from a database table.

    fetchone(): It fetches the next row of a query result set. A result set is an object that is returned when a cursor object is used to query a table.

    fetchall(): It fetches all the rows in a result set. If some rows have already been extracted from the result set, then it retrieves the remaining rows from the result set.

    rowcount: This is a read-only attribute and returns the number of rows that were affected by an execute() method.

In [ ]:
import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","root","TEST" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > '%d'" % (1000)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Fetch all the rows in a list of lists.
   results = cursor.fetchall()
   for row in results:
      fname = row[0]
      lname = row[1]
      age = row[2]
      sex = row[3]
      income = row[4]
      # Now print fetched result
      print "fname=%s,lname=%s,age=%d,sex=%s,income=%d" % \
             (fname, lname, age, sex, income )
except:
   print "Error: unable to fecth data"

# disconnect from server
db.close()

## Performing Transactions

Transactions are a mechanism that ensures data consistency. Transactions have the following four properties:

    Atomicity: Either a transaction completes or nothing happens at all.

    Consistency: A transaction must start in a consistent state and leave the system in a consistent state.

    Isolation: Intermediate results of a transaction are not visible outside the current transaction.

    Durability: Once a transaction was committed, the effects are persistent, even after a system failure.

In [ ]:
# Prepare SQL query to DELETE required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

<h2>Handling Errors</h2>
<p>There are many sources of errors. A few examples are a syntax error in an executed SQL statement, a connection failure, or calling the fetch method for an already canceled or finished statement handle.</p>
<p>The DB API defines a number of errors that must exist in each database module. The following table lists these exceptions.</p>
<table class="table table-bordered">
<tbody><tr>
<th style="width:15%">Exception</th><th>Description</th>
</tr>
<tr><td>Warning</td><td>Used for non-fatal issues. Must subclass StandardError.</td></tr>
<tr><td>Error</td><td>Base class for errors. Must subclass StandardError.</td></tr>
<tr><td>InterfaceError</td><td>Used for errors in the database module, not the database itself. Must subclass Error.</td></tr>
<tr><td>DatabaseError</td><td>Used for errors in the database. Must subclass Error.</td></tr>
<tr><td>DataError</td><td>Subclass of DatabaseError that refers to errors in the data.</td></tr>
<tr><td>OperationalError</td><td>Subclass of DatabaseError that refers to errors such as the loss of a connection to the database. These errors are generally outside of the control of the Python scripter.</td></tr>
<tr><td>IntegrityError</td><td>Subclass of DatabaseError for situations that would damage the relational integrity, such as uniqueness constraints or foreign keys.</td></tr>
<tr><td>InternalError</td><td>Subclass of DatabaseError that refers to errors internal to the database module, such as a cursor no longer being active.</td></tr>
<tr><td>ProgrammingError</td><td>Subclass of DatabaseError that refers to errors such as a bad table name and other things that can safely be blamed on you.</td></tr>
<tr><td>NotSupportedError</td><td>Subclass of DatabaseError that refers to trying to call unsupported functionality.</td></tr>
</tbody></table>